/*
*
Resetting and rebuilding styles have been helped along thanks to the fine work of
Eric Meyer http://meyerweb.com/eric/tools/css/reset/index.html
along with Nicolas Gallagher and Jonathan Neal http://necolas.github.com/normalize.css/
and Blueprint http://www.blueprintcss.org/
*
*/

/* =Reset
----------------------------------------------- */
//@import "reset";

/* =Twitter Bootstrap
----------------------------------------------- */
@import "bootstrap";
@import "bootstrap-responsive";

/* =Global
----------------------------------------------- */

//SASS variables
$bg-blue: rgba(223,242,246,1);
$text-green: rgba(33,92,63,1);

//Styles

body {
	background-color: $bg-blue;
	color: $text-green;
	padding-top: 20px;
}

.container {
	text-align: center;
	color: $text-green;
}

.main-wrapper {
	position: relative;
	top: -37px;
}

p {
	width: 65%;
	margin: 18px auto;
}

a {
	color: $text-green;
	&:hover {
		color: rgb(0,0,0);
		text-decoration: none;
		font-weight: bold;
	}
}

.band-name {
	white-space: nowrap;
}

.logo-wrapper {
	.logo {
		z-index: 0;
	}
}

.contact-detail-wraps {
	white-space: nowrap;
	.email-contact-icon {
		height: 24px;
		margin-right: 5px;
	}
	.twitter-contact-icon {
		height: 35px;
	}
}


/* =Media Queries / Responsive Styles Imports
----------------------------------------------- */
@import "desktop";
@import "tablet";
@import "mobile";
@import "device-specific";